@tailwind base;
@tailwind components;
@tailwind utilities;

*::selection {
  background-color: #263238;
  color:  #F4F1ED;
}

body::-webkit-scrollbar {
          display: block ; 
          width: 13px;
          background-color:#263238;

}

body::-webkit-scrollbar-thumb {
              background-color:  #8D6E63;
              border-radius: 50px;
}

