   /* =====================
      IMPORT FONTS ONLINE
      ===================== */
   // @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&family=Open+Sans:wght@400;600&family=Poppins:wght@400;600;700&display=swap');

   /* ================
      FONT VARIABLES
      ================ */

   // Font Families
   $heading-font: 'InkFree';
   $subheading-font: 'Inter', 'Open Sans', sans-serif;

   /* ================
      COLOR VARIABLES
      ================ */


//       o	Primary: Blue-Green ()
// o	Accent: Muted Sage ()
// o	Background: Ivory (#F4EFEA)
// o	Secondary Neutrals: Slate Gray (), 

   // Earth-Tone Color Palette
   $primary-color-1: #336573; 
   $primary-color-2: #9B7C70  ; 
   $primary-color-3: #F4EFEA; 
   $primary-color-4: #4A4A4A; 
   $primary-color-5: #336573; 

   /* ================
      EXPORTS (For JS)
      ================ */
      
   :export {
   // Colors
   primaryColor1: $primary-color-1;
   primaryColor2: $primary-color-2;
   primaryColor3: $primary-color-3;
   primaryColor4: $primary-color-4;
   primaryColor5: $primary-color-5;

   // Fonts
   headingFont: $heading-font;
   subheadingFont: $subheading-font;
   }
